@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F8FB; /* rzp-bg */
  color: #0D2366; /* rzp-primary */
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}